.offer-list .heading, 
.hair-care-products .heading {
	color: #79a3d1; 
}

.offer-list .button, 
.hair-care-products .button {
	background-color: #79a3d1; 
}

.offer-list .bx-controls-direction, 
.hair-care-products .bx-controls-direction {
	color: #79a3d1; 
}