/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

.featured-offer {
	padding: 0; 
}

.featured-offer > .image, .featured-offer > .image-set {
	width: 50%; height: 100%; 
	position: absolute; left: 0; top: 0; 
	background-size: cover; 
}

.featured-offer .text-content {
	box-sizing: border-box; 
	width: 50%; 
	margin-left: auto; 
	padding: 3.75rem 8.5rem 2.75rem 5.5rem; 
	position: relative; z-index: 1; 
}

.featured-offer .button {
	margin-top: 2rem; margin-bottom: 0.85rem; 
}

.featured-offer > .image-set {
	display: flex; flex-direction: row; 
}

.featured-offer > .image-set .image {
	width: calc( ( 100% - 0.4rem ) / 2 ); height: 100%; 
	margin-right: 0.75rem; 
	position: relative;
}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.featured-offer .heading {
	font-size: 2.85rem; 
	line-height: 1.175; 
	letter-spacing: 0.075em; 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.featured-offer .heading {
	color:#de9083; 
}

.featured-offer .text-content {
	background-color:#EEE; 

}

.featured-offer .button {
	background-color: #de9083; 
}

.featured-offer .bx-controls-direction a {
	color:#de9083; 
}


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( max-width: 980px ) {
	.featured-offer .text-content {
		width: auto; 
		margin-left: 0;  
		background-color: rgba( 255, 255, 255, 0.85 ); 
	}

	.featured-offer .image, .featured-offer .image-set {
		width: 100%; 

	}

}

