/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

footer, .footer-nav {
	display: flex; align-items: center; 
}

footer {
	flex-direction: column; 
}

.footer-nav {
	flex-direction: row; 
	margin-top: 6.75rem; margin-bottom: 6.75rem;
}

/* .footer-nav .entry {
	margin-right: 2.5rem; 
} */

.footer-nav .entry:last-child {
	margin-right: 0; 
}

.footer-nav .nav-link {
	padding: 1.4rem;  

}

.footer-nav .nav-link:before {
	background-color: #CCC; 
	
}

.copyright {
	align-self: stretch; 
	padding-top: 1.4rem; padding-bottom: 1.4rem; 
	border-top: 1px solid; 
}

.scroll-to-top {
	display: flex; align-items: center; justify-content: center; 
	width: 3.5rem; height: 3.5rem; 
	padding: 0; 
	position: fixed; right: 0.5rem; bottom: 10%; z-index: 3;  
	background-color: #FFF; 
	border: none; border-radius: calc( 3.5rem / 2 );
	text-indent: -10000px; 	
	cursor: pointer;  

}

.scroll-to-top:before {
	display: block; 
	font-family: FontAwesome; font-size: 2.25rem;  
	color: #333; 
	content: "\f062"; 

}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.copyright {
	text-align: center;
}

/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

footer {
	background-color: #111; 
	color: #CCC; 
}

.copyright {
	border-color: #444; 
}


/* -----------------------------------------------------------------
	Animations
----------------------------------------------------------------- */

.scroll-to-top {
	opacity: 0;  
}

.scroll-to-top:before {
	transform: scale( 0 ); 
}

.scroll-to-top.visible, 
.scroll-to-top.visible:before {
	animation-fill-mode: forwards; 
}

.scroll-to-top.visible {
	animation-name: fade-in; animation-duration: 0.125s;  

}

.scroll-to-top.visible:before {
	animation-name: scale-up; animation-duration: 0.2s; animation-delay: 0.125s;  

}

@keyframes scale-up {
	0% {
		transform: scale( 0 );
	}

	80% {
		transform: scale( 1 );
	}

	100% {
		transform: scale( 0.8 ); 
	}

}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}


/* -----------------------------------------------------------------
	Media Queries
----------------------------------------------------------------- */

@media ( max-width: 720px ) {

	.footer-nav {
		flex-direction: column; justify-content: center; 
	}

	.footer-nav .entry {
		margin-right: 0; 
		text-transform: uppercase; 
	}

}


