/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

.site-title {
	margin-bottom: 0; 
}

/* Direct descendant elements of header and main navigation are horizontally aligned */
.header, .main-nav .nav-entry-list {
	display: flex; flex-direction: row; 
}

/* ID and navigation links are vertically centered */
.site-title, .main-nav .nav-link {
	height: 5.5rem; line-height: 5.5rem; 
}

/* Gives distance between ID and main navigation */
.header .id {
	margin-right: 4rem; 
//	padding-left: 1.25rem; 
}

.open-nav-button {
	display: none; 
}

.main-nav .nav-link {
	padding: 1.8rem; padding-left: 0.8rem; 
	position: relative; 
}

.main-nav .selected {
	position: relative; 
}

.main-nav .nav-link:before {
	display: block;
	width: 0.5rem; height: 0.5rem;
	position: absolute; left: 0; top: 50%; transform: translateY( -50% ) rotateZ( 45deg ); 
	content: "";
	opacity: 0;
}

.main-nav .selected .nav-link:before, .main-nav .nav-entry-list:hover .nav-link:hover:before {
	opacity: 1; 
}

.main-nav .nav-entry-list:hover .nav-link:before {
	opacity: 0; 
}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.site-title {
	font-family: PTSans-Bold; 
	font-size: 1.2rem; 
	letter-spacing: 0; 
	text-transform: uppercase; 

}

.main-nav .nav-link {
	font-family: Lora-Regular; 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.site-title {
	color: #79a3d1; 
}

.main-nav .nav-link:before {
	background-color:#79a3d1;
}