/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

/* Direct descendant elements of header and main navigation are horizontally aligned */
.header, 
.main-nav .nav-entry-list {
	display: flex; flex-direction: row; 
}

/* ID and main navigation horizontal centers are aligned */
.header {
	align-items: center; 
}

/* Gives distance between ID and main navigation */
.header .id {
	margin-right: var( --id-margin-right ); 
}

.site-title {
	height: var( --height ); line-height: var( --height ); 
	margin-bottom: 0; 
}	

/**
 * Navigation visibility control buttons 
 */

.open-nav-button, 
.close-nav-button {
	display: block; 
	width: var( --width ); height: var( --height ); 
	position: relative; 
	background-color: transparent; 
	border: none; 
	text-indent: -10000px; overflow: hidden; 
	cursor: pointer; 
}

/* Visibility control buttons are not visible initially, 
their visibility depends on the size of the screen */
.open-nav-button, 
.close-nav-button {
	display: none; 
}

/* Navigation link clickable sizing */
.main-nav .nav-link {
	padding: var( --padding-top ) var( --padding-left ); 
}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.site-title {
	letter-spacing: 0; 
}

.site-title, 
.nav-link, .open-nav-button:before, .close-nav-button:before {
	font-family: var( --font-family ); font-size: var( --font-size ); 
}

.site-title, 
.main-nav.open .nav-link {
	text-transform: uppercase; 
}

.main-nav.open .nav-link {
	font-size: 140%;  
}

/**
 * Sets navigation control buttons icons 
 */

.open-nav-button:before {
	content: "\f0c9";
}

.close-nav-button:before {
	content: "\f00d";
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.main-nav.open .nav-link, 
.close-nav-button:before {
	color: #EEE;
}


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( max-width: 1060px ) and ( min-width: 681px ) {
	.header { 
		flex-direction: column; align-items: flex-start; 
		margin-bottom: 2rem; 
	}

	.main-nav .nav-link {
		--padding-top: 1.575rem; 
	}
	
}

@media ( max-width: 840px ) {
	.header { 
		flex-direction: row; justify-content: space-between; align-items: center;
		margin-bottom: 0; 
	}

	.header .id {
		margin-right: 0; 
	}

	.main-nav .nav-entry-list {
		flex-direction: column; align-items: center; justify-content: center; 
		height: 0; overflow: hidden; 
		width: 100%; 
		position: fixed; left: 0; top: 0; z-index: 2; 
		background-color: #79a3d1; 
	}

	.main-nav.open .nav-entry-list {
		height: 100%; 
	}

	.open-nav-button {
		display: block; 
	}

	.main-nav.open .close-nav-button {
		display: block; 
		position: absolute; top: 0; right: 0; 
		z-index: 3; 
	}

	.main-nav .nav-link:before {
		background-color: #EEE;
	}

	.main-nav .nav-link {
		padding-top: 1rem; padding-bottom: 1rem; 

	}

}