/* Keeps all sections up to max width wide and centered above that viewport width, 
leaving some distance from window edges, achieving that by using transparent borders */
.header, .section {
	max-width: var( --max-content-width ); margin-left: auto; margin-right: auto; 
	border-style: solid; border-color: transparent; 
	border-left-width: var( --content-padding-left ); border-right-width: var( --content-padding-right ); 
}

/* Sections are positioned to contain all their absolutely positioned elements */
.section {
	margin-bottom: var( --section-margin-bottom ); 
	padding-top: 0; padding-bottom: 0; 
	position: relative; 	
}

/* Footer has different vertical distance, so styling products bottom margin is rewrote */
.styling-products { 
	margin-bottom: 0.75rem; 
}

.section .text-content {
	padding-top: 2.5rem; padding-bottom: 2.5rem; padding-right: 2.5rem; padding-left: 2.5rem; 

}

.section .body {
	position: relative; 
}

/* Usability headings are not a visual part of the page */
.usability-heading, 
.offer-list .head {
	display: none; 

}

/* Sets distance between headings and text, and text and buttons below */
.heading, .text:last-of-type {
	margin-bottom: var( --margin-bottom ); 
}

/* Sets the distance between text and element below, usually a button */
.text {
	margin-bottom: var( --margin-bottom );  
}

/* Removes the bottom margin of a paragraph, that is the last element in a block */
.text:last-child {
	margin-bottom: 0; 
}

/* Taking into account styling, semantics and SEO, an image is represented as a figure element with an image element as its descendant */
.image {
	height: 150px; 
}

figure.image {
	background-size: cover; background-position: center center; background-repeat: no-repeat; 
}

.image img {
	display: none; 
}

/* Buttons are displayed as inline-block to adapt to their label */
.button {
	display: inline-block; 
	padding: var( --padding-top ) var( --padding-left );  
	border: 1px solid; 
}

/**
 * Control buttons 
 */

/* Control buttons are placed next to each other, using flexbox */
.bx-controls-direction {
	display: flex; flex-direction: row; 
	position: absolute; 
}

/* Creates the vertical separating line between the two control buttons */
.bx-controls-direction:before {
	display: block;
	width: 1px; height: 100%;
	position: absolute; left: 50%; top: 0;  

}

/* Control button is relatively positioned to hold the absolutely positioned :before, holding the icon */
.bx-controls-direction a {
	display: block; 
	width: var( --width ); height: var( --height ); 	
	position: relative; 
	border: none;  
	cursor: pointer; 
}

/* The :before element is stretched all over the button and its content, the icon, is centered */
.nav-control-buttons :before, .bx-controls-direction :before {
	display: flex; align-items: center; justify-content: center; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; z-index: 2; 	
}

/* Button separating line and buttons are not fully opaque in their normal state */
.bx-controls-direction:before, .bx-controls-direction a {
	opacity: 0.45; 
}

/* On mouse over the control button set, the separator and the targeted button become fully opaque */
.bx-controls-direction:hover:before, .bx-controls-direction a:hover {
	opacity: 1; 
}


/**
 * Navigation links 
 */

.nav-link {
	display: block;
	position: relative; 
}

.nav-link:before {
	display: block;
	width: 0.5rem; height: 0.5rem;
	position: absolute; left: 0.25rem; top: 50%; transform: rotateZ( 45deg ) translateY( -50% ); 
	content: "";
	opacity: 0;
}

.selected .nav-link:before, .nav-entry-list:hover .nav-link:hover:before {
	opacity: 1; 
}

.nav-entry-list:hover .nav-link:before {
	opacity: 0; 
}