/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

.plus-points {
	max-width: 960px; margin-left: auto; margin-right: auto; 
	padding-top: 2.5rem; padding-bottom: 2.5rem; 
}

.plus-points .entry-list, .plus-points .entry { 
	display: flex; flex-direction: row; 
}

.plus-points .entry-list { 
	justify-content: space-between;
}

.plus-points .entry {
	align-items: flex-start; 
	width: 25%; 
	position: relative; 
}

.plus-points .image {  
	display: block;  
	max-height: 4.75rem; 
	margin-top: -0.75rem; margin-right: 0.2rem; 
}

/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.plus-points .entry {
	font-family: Lora-Regular; font-size: 1rem; 
	line-height: 1.5; 
 	letter-spacing: 0.1em; 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( max-width: 780px ) {
	.plus-points, .plus-points .entry:last-child {
		margin-bottom: 0; 
	}

	.plus-points .entry-list {
		flex-direction: column; align-items: center; 
	}

	.plus-points .entry {
		max-width: 16rem; width: auto; 
		margin-bottom: 3.2rem; 
	}

	.plus-points .image {
		width: 3rem; 
	} 

}