/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

.plus-points {
	max-width: 960px; margin-left: auto; margin-right: auto; 
}

.plus-points .entry-list { 
	display: flex; flex-direction: row; 
	justify-content: space-between; 
}

.plus-points .entry {
	width: 25%; 
	padding-left: 5rem; 
	position: relative; 
}

.plus-points .image {
	max-width: 5rem; height: auto; 
	position: absolute; left: 0; top: -2%;

}

/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.plus-points .entry {
	font-family: Lora-Regular; font-size: 1rem; 
	line-height: 1.5; 
 	letter-spacing: 0.1em; 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( max-width: 780px ) {
	.plus-points, .plus-points .entry:last-child {
		margin-bottom: 0; 
	}

	.plus-points .entry-list {
		flex-direction: column; align-items: center; 
	}

	.plus-points .entry {
		max-width: 16rem; width: auto; 
		margin-bottom: 3.2rem; 
	}

	.plus-points .image {
		width: 2.5rem; 
	} 

}