/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

.offer-list .slide {
	padding-top: 2.5rem; padding-bottom: 2.5rem; 
	position: relative; 
}

.offer-list .text-content {
	box-sizing: border-box; 
	max-width: 44rem; 
	padding: 5rem 8.75rem 5rem 10.5rem; 
	position: relative; z-index: 1; 
	overflow: hidden; 
}

/* Background graphic elements */
.offer-list .text-content:before, 
.offer-list .text-content:after { 
	display: block;  
	width: 45%; padding-top: 45%;
	position: absolute; z-index: -1;  
	background-size: contain; background-repeat: no-repeat; 
	content: "";
}

.offer-list .text-content:before {
	left: 0; bottom: 4%;
	transform: rotateZ( -15deg ); 
	background-image: url( "../images/slider/Asset-26.png" );
}

.offer-list .text-content:after {
	width: 38%; padding-top: 38%; 
	right: 0; top: -20%;
	transform: rotateZ( -107deg ); 
	background-image: url( "../images/slider/Asset-17.png" );
}

.offer-list .image {
	height: 100%; 
	position: absolute; top: 0; right: 0; 

}

.offer-list .bx-controls-direction {
	bottom: 0; right: 0; 

}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.offer-list .text {
	font-family: var( --font-family );  
	line-height: var( --line-height ); 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.offer-list .text-content {
	background-color: rgba( 205, 230, 236, 1 ); 
}


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( min-width: 1280px ) {
	.offer-list .image {
		left: calc( 44rem - 3.5rem );
	}
	
}

@media ( max-width: 1280px ) {
	.offer-list .image {
		left: calc( 100% - 44rem - 3.5rem );
	}
	
}

@media ( max-width: 1020px ) {
	.offer-list .text-content {
		padding-left: 15%; 
		background-color: rgba( 205, 230, 236, 0.85 ); 
	}

	.offer-list .text-content:before, 
	.offer-list .text-content:after {
		opacity: 0.575; 

	}

}

@media ( max-width: 840px ) {
	.offer-list {
		border-left: 0; border-right: 0; 
	}

	.offer-list .text-content {
		margin-left: var( --content-padding-left ); margin-right: 30%; 
		padding-left: 10%; padding-right: 10%; 
	}

	.offer-list .image {
		left: 0; 
	}

}

@media ( max-width: 640px ) {
	.offer-list .text-content {
		margin-left: 0;  
		padding-left: var( --content-padding-left ); padding-right: var( --content-padding-left ); 
	}

}

@media ( max-width: 520px ) {
	.offer-list .text-content {
		margin-right: 0;
	}

}

