/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

/* CSS variable used in JS to set the column count in product presentation lists, 
column count is changed on various screen widths simply by using media queries */
.product-presentation-list {
	--product-presentation-column-count: 4;
}

.product-presentations {
	display: flex; flex-direction: row; align-items: center; justify-content: flex-end; 
}

.product-presentations .head {
	box-sizing: border-box; 
	max-width: 45rem; 
	padding-right: 4.5rem; 
	margin-left: calc( ( 100% - 960px ) / 2 ); 
}

.product-presentation .image {
	display: block; 
	margin-bottom: 1.4rem; 
}

.product-presentation .text {
	padding-left: 1.2rem; padding-right: 1.2rem; 
}

.product-presentations .body {
	padding-top: 5rem; padding-bottom: 5rem; 
}

.product-presentations .bx-controls-direction {
	left: -6rem; top: 0; 
}

.product-presentation-list {
	padding-top: 1.75rem; 

}

.mark {
	display: flex; align-items: center; justify-content: center;  
	width: 3.2rem; height: 3.2rem; 
	position: absolute; top: 0; right: 2rem; 
	background-image: url( "../images/selected-products/Vector-Smart-Object2.png" ); background-size: contain; 
}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.product-presentations .head .heading {
	font-size: 2.4rem; 
	line-height: 1.4; 
	letter-spacing: 0.075em; 
}

.product-presentation .text {
	font-size: 14px; 
	line-height: 1.5; 
}

.mark {
	font-family: OpenSans-Bold; font-size: 0.7rem; 
	text-transform: uppercase; 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.selected-products .heading {
	color: #dea383; 
}

.selected-products .button {
	background-color: #dea383; 
}

.selected-products .bx-controls-direction {
	color:#dea383; 
}

.mark {
	color: #67c0a6; 
}


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( max-width: 1020px ) {
	.product-presentation-list {
		--product-presentation-column-count: 3;
	}

}

@media ( max-width: 1000px ) {
	.product-presentations .head {
		margin-left: 0; 
	}
	
}

@media ( max-width: 860px ) {
	.product-presentation-list {
		--product-presentation-column-count: 2;
	}

}

@media ( max-width: 720px ) {
	.product-presentations {
		flex-direction: column; 
	}

	.product-prexentations .body {
		padding-top: 2.5rem; padding-bottom: 2.5rem; 

	}

	.product-presentation-list {
		--product-presentation-column-count: 3;
	}

	.product-presentations .bx-controls-direction {
		left: auto; right: 0; 

	}
	
}

@media ( max-width: 600px ) {
	.product-presentation-list {
		--product-presentation-column-count: 2;
	}

}