/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

/* CSS variable used in JS to set the column count in product presentation lists, 
column count is changed on various screen widths simply by using media queries */
.product-presentation-list {
	--product-presentation-column-count: 4;
}

.product-presentations {
	display: flex; flex-direction: row; align-items: center; justify-content: flex-end; 
}

.product-presentations .head {
	box-sizing: border-box; 
	width: 40%;  
	padding-right: 4.5rem; 
	margin-left: calc( ( 100% - 960px ) / 2 ); 
}

.product-presentations .body {
	width: 60%; 
	padding-top: 5rem; padding-bottom: 5rem; 
}

.product-presentation-list {
	padding-top: 1.75rem; 
}

.product-presentation {
	box-sizing: border-box; 
}

.product-presentation .image {
	display: block; 
	margin-bottom: 1.4rem; 
}

.product-presentation .text {
	padding-left: 1.2rem; padding-right: 1.2rem; padding-bottom: 2rem; 
}

.product-presentations .bx-controls-direction {
	left: -6rem; top: 0; 
}

.mark {
	display: flex; align-items: center; justify-content: center;  
	width: var( --width ); height: var( --height ); 
	position: absolute; top: 0; right: 0; 
	background-image: url( "../images/selected-products/Vector-Smart-Object2.png" ); background-size: contain; 
}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.product-presentation .text {
	font-size: 14px; 
	line-height: 1.5; 
}

.product-presentations .mark {
	font-family: var( --font-family ); font-size: var( --font-size ); 
	text-transform: uppercase; 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.product-presentations .heading, 
.product-presentations .bx-controls-direction :before {
	color: var( --second-color );
}

.product-presentations .button, 
.product-presentations .bx-controls-direction:before {
	background-color: var( --second-color );
}

.product-presentations .button:hover {
	color: var( --second-color ); 
	border-color: var( --second-color ); 
}

.mark {
	color: var( --fourth-color ); 
}


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( max-width: 1180px ) {
	.product-presentation-list {
		--product-presentation-column-count: 3;
	}

	/* .product-presentations .body {
		width: 50%; 
	} */

}

@media ( max-width: 1000px ) {
	.product-presentations .head {
		margin-left: 0; 
	}
	
}

@media ( max-width: 980px ) {
	.product-presentation-list {
		--product-presentation-column-count: 2;
	}

	.product-presentations .head {
		width: 50%;  
	}

	.product-presentations .body {
		width: 50%; 
	}

}

@media ( max-width: 820px ) {
	.product-presentations {
		flex-direction: column; 
	}

	.product-presentations .head {
		width: auto; 
		padding-right: var( --content-padding-right ); 
	}

	.product-presentations .body {
		width: auto; 
		padding-top: 2.5rem; padding-bottom: 2.5rem; 

	}

	.product-presentation-list {
		--product-presentation-column-count: 3;
	}

	.product-presentations .bx-controls-direction {
		left: auto; right: 0; 

	}
	
}

@media ( max-width: 600px ) {
	.product-presentation-list {
		--product-presentation-column-count: 2;
	}

}