/* -----------------------------------------------------------------
	General
----------------------------------------------------------------- */

/* PT Sans font declaration */
@font-face {
	font-family: PTSans-Regular;
	src: url( "../fonts/PT_Sans/PTSans-Regular.ttf" );
}

/* PT Sans Bold font declaration */
@font-face {
	font-family: PTSans-Bold;
	src: url( "../fonts/PT_Sans/PTSans-Bold.ttf" );
}

/* Open Sans font declaration */
@font-face {
	font-family: OpenSans-Regular;
	src: url( "../fonts/Open_Sans/OpenSans-Regular.ttf" );
}

/* Open Sans Bold font declaration */
@font-face {
	font-family: OpenSans-Bold;
	src: url( "../fonts/Open_Sans/OpenSans-Bold.ttf" );
}

/* Open Sans Semibold font declaration */
@font-face {
	font-family: OpenSans-Semibold;
	src: url( "../fonts/Open_Sans/OpenSans-SemiBold.ttf" );
}

/* Lora Regular font declaration */
@font-face {
	font-family: Lora-Regular;
	src: url( "../fonts/Lora/Lora-Regular.ttf" ); 

}

/* Font Awesome font declaration */
@font-face {
	font-family: FontAwesome;
	src: url( "../fonts/fa-solid-900.ttf" ); 

}

/* Sets font size to use as a base for all font sizes */
html, body {
	font-size: 14px; 
}

/* Keeps all sections up to 1280px wide and centered above that viewport width */
.header, .section {
	max-width: 1780px; margin-left: auto; margin-right: auto; 
	padding-left: 2.4rem; padding-right: 2.4rem; 
}

/* Sections are positioned to contain all their absolutely positioned elements */
.section {
	position: relative; 
	margin-bottom: 5rem; 
}

/* Usability headings are not a visual part of the page */
.usability-heading, 
.offer-list .head {
	display: none; 

}

/* Sets distance between headings and text, and text and buttons below */
.heading, .text:last-of-type {
	margin-bottom: 1.8rem;  
}

/* Sets the distance between text and element below, usually a button */
.text:last-of-type {
	margin-bottom: 2em;  
}

/* Removes the bottom margin of a paragraph, that is the last element in a block */
.text:last-child {
	margin-bottom: 0; 
}

/* Sets the heading styles */
.heading {
 	font-family: Lora-Regular; 
	font-size: 2.75rem; 
	line-height: 1.15; 
	letter-spacing: 0.07em; 
}

.site-title {
	font-size: 1rem; 
}

/* Sets the body copy styles */
.text {
	font-family: OpenSans-Regular; 
	line-height: 2.2; 
}

/* Taking into account styling, semantics and SEO, an image is represented as a figure element with an image element as its descendant */
.image {
	height: 150px; 
}

figure.image {
	background-size: contain; background-position: center center; 
}

.offer-list .image, .featured-offer .image {
	background-size: cover; background-position: center center; 
}

.image img {
	display: none; 
}

/* Buttons are displayed as inline-block to adapt to their label */
.button {
	display: inline-block; 
	padding: 1rem 2rem; 
	background-color: #444; 
	color: #EEE; 
	font-family: OpenSans-Semibold; 
	text-transform: uppercase; 

}

.section .head, .section .text-content {
	padding-top: 3.75rem; padding-bottom: 3.75rem; padding-right: 4.5rem; padding-left: 0; 

}

.section .body {
	position: relative; 

}

/* Control buttons are placed next to each other, usin flexbox */
.bx-controls-direction {
	display: flex; flex-direction: row; 
	position: absolute; 
}

/* Creates the vertical separating line between the two control buttons */
.bx-controls-direction:before {
	display: block;
	width: 1px; height: 100%;
	position: absolute; left: 50%; top: 0;  
	border-right: 1px solid; 
	content: "";
	 
}

.bx-controls-direction a {
	display: block; 
	width: 6rem; height: 5rem; 	
	position: relative; 
	border: none;  
	text-indent: -10000px; 
	overflow: hidden; 
	cursor: pointer; 
}

.bx-controls-direction a:before {
	display: flex; align-items: center; justify-content: center; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; z-index: 2; 
	text-indent: 0; 
	font-family: FontAwesome; 
	font-size: 1.2rem; 
}

/* Assigns control icons */

.bx-controls-direction .bx-prev:before {
	content: "\f0d9"; 
}

.bx-controls-direction .bx-next:before {
	content: "\f0da"; 
}

/* On mouse over the control button set, the separator and the targeted button become fully opaque */

.bx-controls-direction:before, .bx-controls-direction a {
	opacity: 0.45; 
}

.bx-controls-direction:hover:before, .bx-controls-direction a:hover {
	opacity: 1; 
}


/* -----------------------------------------------------------------
	Header
----------------------------------------------------------------- */

/* Direct descendant elements of header and main navigation are horizontally aligned */
.header, .main-nav .nav-entry-list {
	display: flex; flex-direction: row; 
}

/* ID and navigation links are vertically centered */
.site-title, .main-nav .nav-link {
	height: 5.5rem; line-height: 5.5rem; 

}

/* Gives distance between ID and main navigation */
.header .id {
	margin-right: 8rem; 
	padding-left: 1.25rem; 
}

.site-title {
	font-family: PTSans-Bold; 
	font-size: 1.2rem; 
	letter-spacing: 0; 
	text-transform: uppercase; 
	color: #79a3d1; 

}

.main-nav .nav-link {
	padding: 1.8rem; padding-left: 0.8rem; 
	position: relative; 
	font-family: Lora-Regular; 
}

.main-nav .selected {
	position: relative; 
}

.main-nav .nav-link:before {
	display: block;
	width: 0.5rem; height: 0.5rem;
	position: absolute; left: 0; top: 50%; transform: translateY( -50% ) rotateZ( 45deg ); 
	background-color:#79a3d1;
	content: "";
	opacity: 0;
}

.main-nav .selected .nav-link:before, .main-nav .nav-entry-list:hover .nav-link:hover:before {
	opacity: 1; 
}

.main-nav .nav-entry-list:hover .nav-link:before {
	opacity: 0; 
}


/* -----------------------------------------------------------------
	Presentation List
----------------------------------------------------------------- */

/* .offer-list {
	padding: 0; 
} */

.offer-list .slide {
	padding-top: 3.75rem; padding-bottom: 3.75rem; 
	position: relative; 

}

.offer-list .text-content {
	box-sizing: border-box; 
	width: calc( 45% + 3.5rem ); 
	padding: 5.5rem 10rem 5.5rem 10rem; 
	position: relative; z-index: 1; 
	background-color: #cde6ec; 
	overflow: hidden; 
}

.offer-list .text-content:before, 
.offer-list .text-content:after { 
	display: block;  
	width: 45%; padding-top: 45%;
	position: absolute; z-index: -1;  
	background-size: contain; background-repeat: no-repeat; 
	content: "";
}

.offer-list .text-content:before {
	/* width: 50%; padding-top: 50%; */
	left: 0; bottom: 4%;
	transform: rotateZ( -15deg ); 
	background-image: url( "../images/slider/Asset-26.png" );
}

.offer-list .text-content:after {
	width: 38%; padding-top: 38%; 
	right: 0; top: -20%;
	transform: rotateZ( -107deg ); 
	background-image: url( "../images/slider/Asset-17.png" );
}

.offer-list .heading, .hair-care-products .heading {
	color: #79a3d1; 
}

.offer-list .text {
	font-family: Lora-Regular;  
	line-height: 1.75; 

}

.offer-list .image {
	height: 100%; 
	position: absolute; left: 45%; right: 0; top: 0; 

}

.offer-list .button, .hair-care-products .button {
	background-color: #79a3d1; 

}

.offer-list .bx-controls-direction {
	bottom: 0; right: 0; 

}

.offer-list .bx-controls-direction, .hair-care-products .bx-controls-direction {
	color: #79a3d1; 

}


/* -----------------------------------------------------------------
	Plus Points
----------------------------------------------------------------- */

.plus-points {
	max-width: 960px; margin-left: auto; margin-right: auto; 

}

.plus-points .entry-list { 
	display: flex; flex-direction: row; 
	justify-content: space-between; 
}

.plus-points .entry {
	width: 20%; 
	padding-left: 5rem; 
	position: relative; 
	font-family: Lora-Regular; font-size: 1rem; 
	line-height: 1.5; 
 	letter-spacing: 0.1em; 
}

.plus-points .image {
	max-width: 5rem; height: auto; 
	position: absolute; left: 0; top: -2%;

}


/* -----------------------------------------------------------------
	Product Presentation List
----------------------------------------------------------------- */

.product-presentations {
	display: flex; flex-direction: row; align-items: center; justify-content: flex-end; 
	padding-top: 5rem; padding-bottom: 5rem; 

}

.product-presentations .head {
	box-sizing: border-box; 
	width: 45rem;   
	margin-left: calc( ( 100% - 960px ) / 2 ); 

}

.product-presentations .head .heading {
	font-size: 2.4rem; 
	line-height: 1.4; 
	letter-spacing: 0.075em; 
}

.product-presentation .image {
	display: block; 
	margin-bottom: 1.4rem; 
}

.product-presentation .text {
	padding-left: 1.4rem; padding-right: 1.4rem; 
	font-size: 14px; 
	line-height: 1.5; 

}

.product-presentations .bx-controls-direction {
	left: -7.5rem; top: -6.5rem; 

}

.selected-products .heading {
	color: #dea383; 
}

.selected-products .button {
	background-color: #dea383; 

}

.selected-products .bx-controls-direction {
	color:#dea383; 

}

.mark {
	display: flex; align-items: center; justify-content: center;  
	width: 3.2rem; height: 3.2rem; 
	position: absolute; top: 0; right: 2rem; 
	background-image: url( "../images/selected-products/Vector-Smart-Object2.png" ); background-size: contain; 
	font-family: OpenSans-Bold; font-size: 0.7rem; 
	text-transform: uppercase; 
	color: #67c0a6; 

}


/* -----------------------------------------------------------------
	Featured Offer
----------------------------------------------------------------- */

.featured-offer > .image, .featured-offer > .image-set {
	width: 55%; height: 100%; 
	position: absolute; left: 0; top: 0; 

}

.featured-offer .text-content {
	box-sizing: border-box; 
	width: 45%; 
	margin-left: auto; 
	padding: 2.75rem 3.75rem; 

}

.featured-offer .heading {
	font-size: 2.4rem; 
	line-height: 1.4; 
	letter-spacing: 0.075em; 
	color:#de9083; 
}

.featured-offer .button {
	background-color: #de9083; 

}

.featured-offer .bx-controls-direction a {
	color:#de9083; 

}

.featured-offer > .image-set {
	display: flex; flex-direction: row; 

}

.featured-offer > .image-set .image {
	width: calc( ( 100% - 0.4rem ) / 2 ); height: 100%; 
	margin-right: 0.4rem; 
	position: relative;

}

.featured-offer > .image-set .image:last-child {
	margin-right: 0; 
}


/* -----------------------------------------------------------------
	Footer
----------------------------------------------------------------- */

footer, .footer-nav {
	display: flex; align-items: center; 
}

footer {
	flex-direction: column;
	background-color: #111; 
	color: #CCC; 

}

.footer-nav {
	flex-direction: row;
	padding-top: 6.75rem; padding-bottom: 6.75rem; 

}

.footer-nav .entry {
	margin-right: 4rem; 


}

.footer-nav .entry:last-child {
	margin-right: 0; 

}

.copyright {
	align-self: stretch; 
	padding-top: 1.4rem; padding-bottom: 1.4rem; 
	border-top: 1px solid #444; 
	text-align: center;

}